/***************************************************
 ******************** NAVBAR ***********************
 ***************************************************/

/***************************************************
 * GENERIC
 ***************************************************/
.sofia-container-menu-up-generic__form{
		&-menu{
		&.ui-menubar,
		&{
			background: nth(getMap($project, ("color", "primary")), 1);
			border-radius: 0em !important;
			margin: 0em;
			border: none !important;
		}
		
		&-item{
			margin-top: .5em !important;
		}
		
		&-item-logo{
			padding: 0em !important;
			&:hover{
				background: transparent !important;
			}
		}
		
		.ui-menuitem-link{
			color: nth(getMap($project, ("color", "primary")), 2);
			font-size: .9em !important;
			font-family: $--project-font-family !important;
			&.ui-state-hover{
				color: nth(getMap($project, ("color", "body")), 2);
				.ui-menuitem-icon{
					@include text-shadow(darken(nth(getMap($project, ("color", "primary")), 1), 13));
					color: nth(getMap($project, ("color", "primary")), 2);
					animation: sofia-container-menu-index__move--link-icon 1s ease-in-out infinite;
				}
			}
			.ui-menuitem-icon{
				margin-right: .2em;
				@include text-shadow(nth(getMap($project, ("color", "primary")), 2));
				color: darken(nth(getMap($project, ("color", "primary")), 1), 13);
			}
		}
		&-submenu{
			.ui-menu-child{
				.ui-menuitem-link{
					color: nth(getMap($project, ("color", "body")), 2) !important;
				}
			}
		}
	}
	
	@keyframes sofia-container-menu-index__move--link-icon {
		0% { 
          	transform: rotate(2deg);
        }
        50% {
         	transform: rotate(-3deg);
        }
        70% {
          	transform: rotate(3deg);
        }
      
        100% {
          	transform: rotate(0deg);
        }
	}
}

/***************************************************
 * LEFT X1
 ***************************************************/
.sofia-container-menu-left-generic__form-menu{
	width: 250px !important;
	.ui-panelmenu-panel{
		.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
			background: nth(getMap($project, ("color", "primary")), 1) !important;
			color: nth(getMap($project, ("color", "primary")), 2) !important; 
			font-size: .8em;
			a{
				color: nth(getMap($project, ("color", "primary")), 2) !important; 
				&:hover{
					color: nth(getMap($project, ("color", "primary")), 2) !important; 
				}
			}
		}
		.ui-panelmenu-content{
			.ui-menuitem-link-hasicon, .ui-menuitem-link{
				font-size: .8em !important;
				.ui-menuitem-text{
					font-size: .9em !important;
					padding-left: .3em;
				}
				.ui-icon{
					font-size: 0.9em;
					display: flex;
					align-content: center;
					justify-content: center;
					color: nth(getMap($project, ("color", "body")), 2);
					&::before{
						align-self: center;
					}
				}
				
				&:hover{
					.ui-icon{
						color: nth(getMap($project, ("color", "primary")), 1) !important;
						animation: sofia-container-menu-index__move--link-icon 1s ease-in-out infinite;
					}
				}
				
			}
		}
	}
}


/***************************************************
 * LEFT X2
 ***************************************************/
.sofia-container-navbar-users-left{
	$--element: getMap($default, ("all", "navbar", "all", "generic"));
	position: relative;
	min-width: nth(getMap($--element, ("dimension")), 1);
	min-height: nth(getMap($--element, ("dimension")), 2);
	overflow: hidden;
	
	.page-wrapper .sidebar-wrapper,
	.sidebar-wrapper .sidebar-brand > a,
	.sidebar-wrapper .sidebar-dropdown > a:after,
	.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
	.sidebar-wrapper ul li a i,
	.page-wrapper .page-content,
	.sidebar-wrapper .sidebar-search input.search-menu,
	.sidebar-wrapper .sidebar-search .input-group-text,
	.sidebar-wrapper .sidebar-menu ul li a,
	.show-sidebar,
	.close-sidebar {   
  		-webkit-transition: all 0.3s ease;
  		-moz-transition: all 0.3s ease;
  		-ms-transition: all 0.3s ease;
  		-o-transition: all 0.3s ease;
  		transition: all 0.3s ease;
	}
	
	.page-wrapper{
		height: 100vh;
		.theme {
  			width: 40px;
  			height: 40px;
  			display: inline-block;
  			border-radius: 4px;
  			margin: 2px;
			&.chiller-theme {
  				background:  nth(getMap($--element, ("color")), 1);
			}
		}
	
		/*----------------toggeled sidebar----------------*/
		&.toggled {
			.sidebar-wrapper{
				left: 0px;
			}
  			@media screen and (min-width: 768px) {
  				.page-content {
    				padding-left: 300px;
  				}
			}
		}
		
		/*----------------show sidebar button----------------*/
		.show-sidebar {
  			position: fixed;
  			left: 5px;
  			top: 20px;
  			border-radius: 0 4px 4px 0px;
  			transition-delay: 0.3s;
			background-color: nth(getMap($project, ("color", "primary")),1) !important;
			width: 30px;
    		height: 30px;
    		display: flex;
    		justify-content: center;
    		align-items: center;
			i{
				color: nth(getMap($project, ("color", "primary")),1) !important;
				@include text-shadow(nth(getMap($project, ("color", "primary")),2));
			}
		}
		&.toggled{
			.show-sidebar {
				left: -40px;
			}
		}
		/*----------------sidebar-wrapper----------------*/
		.sidebar-wrapper {
  			width: nth(getMap($--element, ("dimension")), 1);
			background: nth(getMap($--element, ("color", "primary")), 1);;
  			height: 100%;
  			max-height: 100%;
   			position: fixed;
    		top: 0;
  			left: -300px;
  			z-index: 999;
			ul {
  				list-style-type: none;
  				padding: 0;
  				margin: 0;
			}
			a {
  				text-decoration: none;
			}
			/*----------------sidebar-content----------------*/
			.sidebar-content{
 				 max-height: calc(100% - 30px);
  				 height: calc(100% - 30px);
  				 overflow-y: auto;
  				 position: relative;
				 &.desktop {
  					overflow-y: hidden;
				 }
				/*--------------------sidebar-brand----------------------*/
				.sidebar-brand {
  					padding: 10px 20px;
  					display: flex;
  					align-items: center;
					background: darken(nth(getMap($--element, ("color", "primary")), 1), 13);
					& > a {
  						text-transform: uppercase;
  						font-weight: bold;
  						flex-grow: 1;
						color: nth(getMap($--element, ("color", "icon")), 1);
					}
					.close-sidebar {
						color: nth(getMap($--element, ("color", "link")), 1);
  						cursor: pointer;
  						font-size: 20px;
					}
				}
				/*--------------------sidebar-header----------------------*/
				.sidebar-header {
  					padding: 20px;
  					overflow: hidden;
					.user-pic {
  						float: left;
  						width: 60px;
						height: 60px;
  						padding: 2px;
  						border-radius: 12px;
  						margin-right: 15px;
  						overflow: hidden;
						img {
  							object-fit: cover;
  							height: 100%;
  							width: 100%;
							transition: all .5s linear;
							cursor: pointer;
							&:hover{
								transform: scale(1.7) rotate(10deg);
							}
						}
					}
					.user-info {
  						float: left;
						& > label, & > span {
  							display: block;
						}
						.user-name{
							color: nth(getMap($--element, ("color", "link")), 1);
							font-weight: bold;
						}
						.user-role {
  							font-size: 12px;
							color: nth(getMap($--element, ("color", "icon")), 1);
							
						}
						.user-status {
 							font-size: 11px;
  							margin-top: 4px;
							color: lighten(nth(getMap($--element, ("color", "primary")), 1), 30%);
							i {
  								font-size: 8px;
  								margin-right: 4px;
  								color: nth(getMap($project, ("color", "succes")), 1);
							}
						}
					}
				}
				/*-----------------------sidebar-search------------------------*/
				.sidebar-search{
					& > div{
						padding: 10px 20px;
					}
				}
				/*----------------------sidebar-menu-------------------------*/
				.sidebar-menu{
					padding-bottom: 10px;
					.header-menu{
						span{ 
  							font-weight: bold;
  							font-size: 14px;
							text-transform: uppercase; 
  							padding: 15px 20px 5px 20px; 
  							display: inline-block;
							color: darken(nth(getMap($--element, ("color", "primary")), 1), 13);
							@include text-shadow(lighten(nth(getMap($--element, ("color", "primary")), 1), 30%));
							border-top: 2px solid darken(nth(getMap($--element, ("color", "primary")), 1), 13);
							width: 100%;
						} 
					}
					ul{
						li{
							a{
								display: inline-block;
  								width: 100%;
  								text-decoration: none;
  								position: relative;
  								padding: 8px 30px 8px 20px;
								font-size: 14px;
								color: nth(getMap($--element, ("color", "link")), 1);
								&:hover{
									background: darken(nth(getMap($--element, ("color", "primary")), 1), 13);
									& > i::before {
  										display: inline-block;
  										animation: pastley-page-user-navbar-swing ease-in-out 0.5s 1 alternate;
									}
								}
								span{
									&.label, &.badge{
										float: right;
  										margin-top: 8px;
  										margin-left: 5px;
									}
								}
								i{
									color: nth(getMap($--element, ("color", "primary")), 1);
									@include text-shadow(nth(getMap($--element, ("color", "icon")), 1));
  									font-size: 12px;
  									width: 30px;
  									height: 30px;
 									line-height: 30px;
  									text-align: center;
  									border-radius: 4px;
								}
								&:hover{
									i{
										color: darken(nth(getMap($--element, ("color", "primary")), 1), 13);
										@include text-shadow(nth(getMap($--element, ("color", "icon")), 1));
									}
								}
							}
						}
						.sidebar-dropdown{
							& > a::after {
								font-family: "Font Awesome 5 Free";
  								font-weight: 900;
  								content: "\f105";
  								font-style: normal;
  								display: inline-block;
  								font-style: normal;
  								font-variant: normal;
  								text-rendering: auto;
  								-webkit-font-smoothing: antialiased;
  								-moz-osx-font-smoothing: grayscale;
  								text-align: center;
  								background: 0 0;
  								position: absolute;
  								right: 15px;
  								top: 14px;
							 }
							&.active > a:after {
  								transform: rotate(90deg);
  								right: 17px;
							}
							.sidebar-submenu {
								display: none;
								ul{
								  	padding: 5px 0;	
									list-style: none;	
								}
								li {
									padding-left: 1em;	
									transition: all .5s linear;
									&:hover{
										background: darken(nth(getMap($--element, ("color", "primary")), 1), 13);
									}
									a{
										font-size: 13px;
										&.badge, &.label{
											float: right;
  											margin-top: 0px;
										}
									}
								}
							}
						}
					}
				}
			}
			/*--------------------------side-footer------------------------------*/
			.sidebar-footer {
  				position: absolute;
  				width: 100%;
  				bottom: 0;
  				display: flex;
				padding-top: 1em; 
				background: darken(nth(getMap($--element, ("color", "primary")), 1), 13);
				& > a {
  					flex-grow: 1;
  					text-align: center;
 					height: 30px;
  					line-height: 30px;
  					position: relative;
					.notification {
  						position: absolute;
  						top: 0;
					}
				}
				a{
					i{
						color: nth(getMap($--element, ("color", "primary")), 1);
						@include text-shadow(nth(getMap($--element, ("color", "icon")), 1));
						transition: all .5s linear;
					}
					&:hover{
						i{
							color: darken(nth(getMap($--element, ("color", "primary")), 1), 13);
							@include text-shadow(nth(getMap($--element, ("color", "icon")), 1));
							animation: pastley-page-user-navbar-swing ease-in-out 0.5s 1 alternate;
						}
					}
				}
				.badge-sonar {
  					display: inline-block;
 		 			background: #980303;
  					border-radius: 50%;
  					height: 8px;
  					width: 8px;
  					position: absolute;
  					top: 0;
					&::after{
					  	content: "";
  						position: absolute;
  						top: 0;
 		 				left: 0;
  						border: 2px solid #980303;
  						opacity: 0;
  						border-radius: 50%;
  						width: 100%;
  						height: 100%;
  						animation: pastley-page-user-navbar-sonar 1.5s infinite;
					}
				}
			}
		}
	}
	

	
	/*----------------ANIMATION ----------------*/
	@keyframes pastley-page-user-navbar-swing {
  		0% {
    		transform: rotate(0deg);
  		}
  		10% {
    		transform: rotate(10deg);
  		}
  		30% {
    		transform: rotate(0deg);
  		}
  		40% {
   	 		transform: rotate(-10deg);
  		}
  		50% {
    		transform: rotate(0deg);
  		}
  		60% {
    		transform: rotate(5deg);
  		}
  		70% {
    		transform: rotate(0deg);
  		}
  		80% {
    		transform: rotate(-5deg);
  		}
  		100% {
    		transform: rotate(0deg);
  		}
	}
	@keyframes pastley-page-user-navbar-sonar {
  		0% {
    		transform: scale(0.9);
    		opacity: 1;
  		}
  		100% {
    		transform: scale(2);
    		opacity: 0;
 		 }
	}
}