
/***************************************************
 ****************** STRUCTURE **********************
 ***************************************************/

/***************************************************
 * GENERIC
 ***************************************************/
.sofia-page-structure{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr 1fr;
	grid-template-areas: "Left 		Top 		Top"
	                     "Left   	Center     	Center"
		         	     "Left 	  	Center 		Center";
	transition: all .5s linear;

	&-top{
		grid-area: Top;
		margin-bottom: 1em;
	}
	
	&-left{
		grid-area: Left;
	}
	
	&-center{
		grid-area: Center;
		padding-bottom: 4em;
	}
	
	&.sofia-page-structure__other{
		grid-template-areas: "Top           Top" 
	                    	 "Center     	Center"; 
		grid-template-columns: auto;
		grid-template-rows: auto;
		
		.sofia-page-structure-top, .sofia-page-structure-center{
			min-width: 100vw !important;
			height: auto;
		}
		
		.sofia-page-structure-top{
			.sofia-container-menu-up-generic__form-menu.ui-menubar{
				padding-left: 2em !important;
			}
		}
		
		.sofia-page-structure-center{
			.sofia-container-section-generic__center{
				width: 94% !important;
			}
		}
		.sofia-page-structure-left{
			.sofia-container-navbar-users-left{
				min-height: 0em !important;
				max-height: 0em !important;
			}
		}
	}
}

/***************************************************
 * PROFILE
 ***************************************************/
.sofia-page-profile-structure{
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 100%;
	grid-template-areas: "Right   Left"
	                     "Right   Left"
		         	     "Right   Left";
	gap: 1.25rem;
	
	&-left{
		grid-area: Left;
	}
	
	&-right{
		grid-area: Right; 
	}
	
	@media screen and (max-width: 1000px) {
		grid-template-columns: 100% 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: "Left   Left"
	                         "Right   Right";
	}
}

/***************************************************
 * INDEX PRODUCT
 ***************************************************/
 .sofia-page-product-structure{
 	width: 90%;
 	margin: 1em auto;
 	display: grid;
 	background: nth(getMap($color, ("white", "base")),1);
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: "one   two"
	                     "three two"
		         	     "four  two";
	gap: 1.25rem;
	
	&-one{
		grid-area: one;
		padding:0.5em;
		width:100%;
		heigth:auto;
		background: nth(getMap($color, ("white", "darken-2")),1);
	}	
	
	&-two{
		grid-area: two;
		width:auto;
		min-width: 500px;
		background: nth(getMap($color, ("white", "darken-2")),1);
	} 
	
	&-three{
		grid-area: three;
		background: nth(getMap($color, ("white", "darken-2")),1);
	}  
	
	&-four{
		grid-area: four;
		background: nth(getMap($color, ("white", "darken-2")),1);
	}          	     	         	
 }
 
 
 